#navi {
  background-color: rgba(249, 75, 93, 0.5);
  justify-content: flex-end;
}
.nav-paragraph {
  color: white;
}
.card.header {
  background-color: rgba(187, 204, 222, 0.5);
}
.card-body {
  background-color: rgba(187, 204, 222, 0.5);
}
