#navi {
  background-color: rgba(249, 75, 93, 0.5);
  justify-content: flex-end;
}
.nav-paragraph {
  color: white;
}

#createCard {
  border-radius: 2rem;
  background-color: rgba(187, 204, 222, 0.5);
  color: #555454;
  margin-top: 40px;
}
.categButton {
  border-radius: 0.5rem !important;
  padding: 7px 18px !important;
  border-style: none !important;
  border-color: #fedbdf !important;
  margin-right: 5px !important;
  background: #fedbdf !important;
  color: grey !important;
  font-family: Arial !important;
  font-size: 16px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

#createCard1 {
  border-radius: 1rem;
  background-color: rgba(252, 250, 251, 0.5);
  color: #555454;
  margin-top: 30px;
}

#categButton1 {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-right: 2px;
  margin-top: 5px;
}

#addall {
  margin-top: 200px;
}

.butonatFillestare {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #fcdddd;
  margin-top: 10px;
}
.inputiForma {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px 30px;
  font-size: 18px;
  border-width: 1px;
  border-color: #fedbdf;
  background-color: #ffffff;
  color: #666666;
  border-style: solid;
  border-radius: 0.5px;
  box-shadow: 2px 2px 10px rgba(250, 219, 219, 0.75);
}
.inputiForma:focus {
  outline: none;
}

.butoniShto {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 70px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #fcdddd;
  margin-top: 10px;
  margin-bottom: 10px;
}
#media {
  margin-top: 70px;
}
.texti {
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
}

.popup-backdrop {
  background-color: #dcdcdc !important;
}
.my-modal .modal-content {
  background-color: #f6f6f6 !important;
}
